
<div class="footer">
    <div class="content">
        <div class="left">
            <div>
                <img class="logo" src="/assets/logo-footer.png">
                <div class="location"><span class="material-symbols-outlined icon">near_me</span>Romania</div>
                <div class="adress"><span class="material-symbols-outlined icon">quick_phrases</span>English (United States)</div>
            </div>
            <div class="text">© 2023 Stripe, Inc.</div>
        </div>
        <div class="right">
            <div class="column-a">
                <div>
                    <div class="title">Products</div>
                    <div class="el">Atlas</div>
                    <div class="el">Billing</div>
                    <div class="el">Capital</div>
                    <div class="el">Checkout</div>
                    <div class="el">Climate</div>
                    <div class="el">Connect</div>
                    <div class="el">Corporate Card</div>
                    <div class="el">Data Pipeline</div>
                    <div class="el">Elements</div>
                    <div class="el">Financial Connections</div>
                    <div class="el">Identity</div>
                    <div class="el">Invoicing</div>
                    <div class="el">Issuing</div>
                    <div class="el">Link</div>
                    <div class="el">Payments</div>
                    <div class="el">Payment Links</div>
                    <div class="el">Payouts</div>
                    <div class="el">Pricing</div>
                    <div class="el">Radar</div>
                    <div class="el">Revenue Recognition</div>
                    <div class="el">Sigma</div>
                    <div class="el">Tax</div>
                    <div class="el">Terminal</div>
                    <div class="el">Treasury</div>
                </div>
            </div>
            <div class="column-b">
                <div>
                    <div class="title">Use cases</div>
                    <div class="el">E-commerce</div>
                    <div class="el">SaaS</div>
                    <div class="el">Marketplaces</div>
                    <div class="el">Embedded Finance</div>
                    <div class="el">Platforms</div>
                    <div class="el">Creator Economy</div>
                    <div class="el">Crypto</div>
                    <div class="el">Global Businesses</div>
                </div>
                <div>
                    <div class="title">Integrations & Custom Solutions</div>
                    <div class="el">App Marketplace</div>
                    <div class="el">Partner Ecosystem</div>
                    <div class="el">Professional Services</div>
                </div>
                <div>
                    <div class="title">Developers</div>
                    <div class="el">Documentation</div>
                    <div class="el">API reference</div>
                    <div class="el">API status</div>
                    <div class="el">API changelog</div>
                    <div class="el">Build A Stripe App</div>
                </div>
            </div>
            <div class="column-c">
                <div class="a">
                    <div class="title">Resources</div>
                    <div class="el">Support Centers</div>
                    <div class="el">Support Plans</div>
                    <div class="el">Guides</div>
                    <div class="el">Customer Services</div>
                    <div class="el">Blog</div>
                    <div class="el">Annual Conference</div>
                    <div class="el">Privacy and Terms</div>
                    <div class="el">Licenses</div>
                    <div class="el">COVID-19</div>
                    <div class="el">Sitemap</div>
                    <div class="el">Cookie Settings</div>
                    <div class="el">Your CA Privacy Choices </div>
                </div>
                <div class="b">
                    <div class="title">Company</div>
                    <div class="el">Jobs</div>
                    <div class="el">Newsroom</div>
                    <div class="el">Stripe press</div>
                    <div class="el">Become a partner</div>
                </div>
            </div>
        </div>
    </div>
</div>
