
<div class="heder">
    <app-nav-bar class="bar"></app-nav-bar>
    <div class="content">
        <div class="left">
            <div class="title">Payments infrastructure for the internet</div>
            <div class="description">Millions of businesses of all sizes – from startups to Fortune 500s – use Stripe's software and APIs to accept payments, send payouts, and manage their businesses online.</div>
            <div class="buttons">
                <div class="btn first">Start now<span class="material-symbols-outlined icon first">chevron_right</span></div>
                <div class="btn">Contact sales<span class="material-symbols-outlined icon">chevron_right</span></div>
            </div>
        </div>
        <div class="right"><img src="/assets/img-heder.png"></div>
    </div>
</div>
<div class="partners">
    <div class="content-part">
        <div class="partner" *ngFor="let p of partners"><img [src]="p"></div>
    </div>
</div>
