<div class="bar">
    <img class="logo" src="assets/logo.png">
    <div class="menu">
        <div class="menu-item">Products</div>
        <div class="menu-item">Solutions</div>
        <div class="menu-item">Developers</div>
        <div class="menu-item">Resources</div>
        <div class="menu-item">Pricing</div>
    </div>
    <div class="button">Sign in<span class="material-symbols-outlined icon">chevron_right</span></div>
    <span class="material-symbols-outlined menu-btn"> menu</span>
</div>
